doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title PizzeriA - Responsive Fullscreen Onepage Template
    meta(name='robots', content='index, follow')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')
    // ========================  CSS Files  ==========================
    link(rel='stylesheet', type='text/css', href='css/style.css', media='all')
    link(rel='stylesheet', type='text/css', href='css/slider.css')
    link(rel='stylesheet', type='text/css', href='css/responsive.css')
    // ========================  JS Files  ===========================
    script(type='text/javascript', src='js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='js/supersubs.js')
    script(type='text/javascript', src='js/quicksand.js')
    script(type='text/javascript', src='js/quicksand_config.js')
    script(type='text/javascript', src='js/ts-portfolio-slide.js')
    script(type='text/javascript', src='js/tinynav.min.js')
    script(type='text/javascript', src='js/scripts.js')
    //if lt IE 9
      script(type='text/javascript', src='js/html5.js')
    //if lt IE 8
      div(style=' clear: both; text-align:center; position: relative;')
        a(href='../../windows.microsoft.com/en-US/internet-explorer/products/ie/home@ocid=ie6_countdown_bannercode')
          img(src='../../storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg', border='0', height='42', width='820', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  body
// LOADER
.spinner
// SLIDER
ul.cb-slideshow
  li
    span Image 01
  li
    span Image 02
  li
    span Image 03
  li
    span Image 04
// SLIDER END
section#content
  // HEADER
  header
    .logo
      a(href='#!/page_home')
        img(src='images/logo.png', alt='')
    // MENU
    nav.menu
      ul#menu
        each menu in menuList
          li
            a(href='#!/'+menu.href)=menu.name
    // END MENU
  // END HEADER
  .inner_copyright
  ul
    each menu in menuList
      if(menu.type == "home")
        li(id=menu.href).no_bg
      if(menu.type == "about")
        li(id=menu.href)
          a.close(href='#!/page_home')
          .container
          .wrapper
            h1.color_yellow=menu.name
            .viewport.viewport2
              .overview.overview2
                .fullwidth
                  console.log(menu.test)
                  -var about_menu=menu.test.filter(function(item){return item._type=="about";})
                  img.fleft20.pic(src=about_menu[0].image, alt='')
                  h4.color_white=about_menu[0]._name
                  p=about_menu[0]._description
                  a.button.small.yellow(href='#!/page_more')
                    span more
                  .divider
                h2.color_yellow Meet the Team
                each member in menu.test.filter(function(item){return item._type=="team";})
                    .one_fourth
                      img.pic(src=member.image, alt='')
                      h5.color_white.ucase=member._name
                      p=member._description
                      a.button.small.yellow(href='#!/page_more')
                        span more
            .scrollbar.scrollbar2
              .track
                .thumb.thumb2
            // ABOUT END
      // SERVICES
      if(menu.type == "services")
        li(id=menu.href)
          a.close(href='#!/page_home')
          .container
            .wrapper
              h1.color_yellow=menu.name
              .viewport.viewport2
                .overview.overview2
                  .fullwidth
                    h1.color_white=menu.description
                  .divider
                  each member in menu.test.filter(function(item){return item._type=="services";})
                    .one_third
                      .serimg
                        img.pic(src=member.image, alt='')
                      h5.color_white.ucase=member._name
                      p=member._description
                      a.button.small.yellow(href='#!/page_more')
                        span more               
              .scrollbar.scrollbar2
                .track
                  .thumb.thumb2
              // SERVICES END
      // PORTFOLIO
      if(menu.type == "portfolio")
        li(id=menu.href)
          a.close(href='#!/page_home')
          .container
            .wrapper
              h1.color_yellow=menu.name
              .viewport.viewport2
                .overview.overview2
                  #ts-display-portfolio
                    ul#filter.controlnav
                      li.segment-1.selected-1
                        a(href='#', data-value='all') All
                      li.segment-1
                        a(href='#', data-value='salads') Salads
                      li.segment-1
                        a(href='#', data-value='drinks') Drinks
                      li.segment-1
                        a(href='#', data-value='chicken') Chicken
                    ul#ts-display-pf-col.image-grid
                      each member in menu.test.filter(function(item){return item._type=="profile";})
                        li(class=member._name,data-id='id-')
                          .ts-display-pf-img
                            span.pftag=member._name
                            img.cover(src=member.image, alt='')
                            .caption_slide
                              p=member._description
                              a.button.small.yellow(href='#!/page_more')
                                span more                     
              .scrollbar.scrollbar2
                .track
                  .thumb.thumb2
              // PORTFOLIO END
              // PRICE
      if(menu.type == "price")
        li(id=menu.href)
          a.close(href='#!/page_home')
          .container
            .wrapper
              h1.color_yellow=menu.name
              .two_third
                .priceimg
                -var about_menu=menu.test.filter(function(item){return item._type=="about";})
                  img.pic(src=about_menu[0].image, alt='')
                h4.color_white=about_menu[0]._description
                p=about_menu[0].bref
                a.button.small.yellow(href='#!/page_more')
                  span more
              each member in menu.test.filter(function(item){return item._type=="profile";})
                .one_third_last
                  img.fleft20.pic(src=member.image, alt='')
                  h4.color_white=member._name
                  h3.color_yellow=member.bref
                  .divider
    // PRICE END
    // BLOG
      if(menu.type == "price")
    li#page_blog
      a.close(href='#!/page_home')
      .container
        .wrapper
          h1.color_yellow Blog
          .viewport.viewport2
            .overview.overview2
              .two_third
                .post(style='height:200px;')
                  .postimg
                    img.pic(src='images/blog/pic1.jpg', alt='')
                  .entry-date
                    .posttime Sep 2012
                    .postdate 09
                  .col02
                    h2.posttitle
                      a(href='#!/page_more') tempus velit non quam imperdiet 
                    .entry-utility
                      | Posted by
                      a(href='#') admin
                      | in
                      a(href='#') event
                      | with
                      a(href='#') 0 Comment
                    p
                      | Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nosrud exerci tation ullamcorper suscipit lobortis...
                    a.button.small.yellow(href='#!/page_more')
                      span more
                .divider(style='margin-top:20px;')
                .post(style='height:200px;')
                  .postimg
                    img.pic(src='images/blog/pic2.jpg', alt='')
                  .entry-date
                    .posttime Sep 2012
                    .postdate 07
                  .col02
                    h2.posttitle
                      a(href='#!/page_more') tempus velit non quam imperdiet 
                    .entry-utility
                      | Posted by
                      a(href='#') admin
                      | in
                      a(href='#') event
                      | with
                      a(href='#') 0 Comment
                    p
                      | Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nosrud exerci tation ullamcorper suscipit lobortis...
                    a.button.small.yellow(href='#!/page_more')
                      span more
                .divider(style='margin-top:20px;')
                .wp-pagenavi
                  span.pages Page 1 of 3
                  span.current 1
                  a.page(href='#') 2
                  a.page(href='#') 3
              .one_third_last
                aside#sidebar
                  ul
                    li.widget-container
                      form#searchform(method='get', action='#')
                        .bgsearch
                          input#s(type='text', name='s', value='Site Search...', onfocus='if (this.value == "Site Search...")this.value = "";', onblur='if (this.value == "")this.value = "Site Search...";')
                          input.searchbutton(type='submit', value='')
                    li.widget-container
                      h3.color_yellow Recent Post
                      ul.rp-widget
                        li
                          img.alignleft.pic(src='images/blog/rp1.jpg', alt='')
                          h4
                            a(href='#') Lorem ipsum 
                          span.smalldate August 27, 2012
                          span.clear
                        li
                          img.alignleft.pic(src='images/blog/rp2.jpg', alt='')
                          h4
                            a(href='#') Lorem ipsum
                          span.smalldate August 22, 2012
                          span.clear
                        li
                          img.alignleft.pic(src='images/blog/rp3.jpg', alt='')
                          h4
                            a(href='#') Lorem ipsum
                          span.smalldate August 20, 2012
                          span.clear
                    li.widget-container
                      h3.color_yellow Categories
                      ul
                        li
                          a(href='#') Clean
                        li
                          a(href='#') Portfolio
                        li
                          a(href='#') General
                        li
                          a(href='#') Video
                        li
                          a(href='#') Typography
                    li.widget-container
                      h3.color_yellow Text Widget
                      .textwidget
                        | Pellentesque at mauris fringilla nunc sollicitudin vehicula. Aliquam et nibh ipsum, vel porta augue. Sed dolor ligula, facilisis.
          .scrollbar.scrollbar2
            .track
              .thumb.thumb2
    // BLOG ENG
    // CONTACT
    li#page_contact
      a.close(href='#!/page_home')
      .container
        .wrapper
          h1.color_yellow Contact Us
          article.one_half
            h2.color_white Reach to Us!
            p
              | Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus rta. Fusce suscipit varius mium sociis natoque penatibus.
            p.color_white
              | 8901 Abort Road,
              br
              | London, D01 23GB.
            p
              span.w1 Mobile:
              | +1 234 567 8900
              br
              span.w1 Telephone:
              | +1 234 567 8900
              br
              span.w1 FAX:
              | +1 234 567 8900
              br
              | E-mail:
              a.link(href='#', style='font-weight:normal;') info@dummylink.com
          article.one_half_last
            h2.color_white Get in Touch!
            form#form1
              .success
                | Contact form submitted!
                br
                strong We will be in touch soon.
              fieldset
                label.name
                  input(type='text', value='Name:')
                  span.error *This is not a valid name.
                  span.empty *This field is required.
                br
                label.email
                  input(type='email', value='Email:')
                  span.error *This is not a valid email address.
                  span.empty *This field is required.
                br
                label.message
                  textarea MESSAGE:
                  span.error *The message is too short.
                  span.empty *This field is required.
                br.clear
                .btns
                  a.button.small.yellow(href='#', data-type='reset')
                    span Clear
                  a.button.small.yellow(href='#', data-type='submit')
                    span Send
    // CONTACT END
    // MORE
    li#page_more
      a.close(href='#!/page_home')
      .container
        .wrapper
          h2.color_white lorem ipsum
          p.pad6
            span.color_white Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            br
            | Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          p.pad7
            span.color_white Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. 
            br
            | Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
          p.pad7
            span.color2 Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. 
            br
            | Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
    // MORE END
  // FOOTER
  footer
    ul.sn
      li
        a(href='#', title='Facebook')
          span.icon-img(style='background:url(images/social/facebook.png)')
      li
        a(href='#', title='Twitter')
          span.icon-img(style='background:url(images/social/twitter.png)')
      li
        a(href='#', title='Google Plus')
          span.icon-img(style='background:url(images/social/gplus.png)')
      li
        a(href='#', title='YouTube')
          span.icon-img(style='background:url(images/social/ytube.png)')
    p
      | 2012 ©
      a.link(href='#') Hello World
      | . All Right Reserved.
  // END FOOTER
// END CONTENT
